/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    background-color: #333;
    color: #FAF9F6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    margin: 0 auto;
}
a{
    color: #333;
}
.navbar {
    position: sticky;
    top: 0px;
    text-align: center;
    height: 30px;
    width: 100%;
    margin: 0;
    
    
}
.navbar li{
    display: inline; 
    width: 100%;
    height: 60px;
    padding: 0px 63px;
    border: 5px solid beige;
    background-color: beige; 
    
}
.title {
    background-image: url(/images/earth-horizon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #FAF9F6;
    height: 700px;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 185px;
    font-family: monospace;
    min-width: 900px;
    max-width: none;
}
.ovotw {
    padding-top: 20px;
    text-align: center;
}
.ovotw h2{
    font-size: 40px;

}
.ovotw p{
    position:relative;
    left: 50px;
    font-size: 20px;
    max-width: 90%;
    
}
.footer{
    display: block;
    background-color: black;
    width: 100%;
}
.ovotw-pics h2 {
    text-align: center;
    font-size: 40px;
}
.ovotw-pics img {
    position: relative;
    left: 40px;
    right: 40px;
    width: 465px;
    border: 3px solid black ;
    margin: ;
}